@import "allmq";

$phone_device-max-width: 768px;

@mixin phone {
	@media (max-width: #{$phone_device-max-width}) {
@content; }
}

$tablet_device-max-width: 1023px;

@mixin tablet {
	@media (max-width: #{$tablet_device-max-width}) {
@content; }
}



$desktop-width: 1024px;

@mixin desktop {
@media (min-width: #{$desktop-width}) {
@content; }
}

